/* main */
:root {
  --main-color: #293241;
  --cardbackground-color: #313d52d9;
}

html {
  font-family: "roboto";
  background-color: var(--main-color);
  color: rgb(171, 174, 192);
  scroll-behavior: smooth;
}

body {
  margin: 0;
  box-sizing: border-box;
}

hr {
  visibility: hidden;
}

/*************************/

/* nav bar */

.nav-bar {
  height: 4rem;
  display: flex;
  border-bottom: 1px solid rgba(255, 255, 255, 0.047);
}

.logo {
  margin-left: 10rem;
  flex: 2 2 0;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex: 1 1 0;
}

.nav-menu a {
  color: rgb(224, 224, 224);
  text-decoration: none;
}

.nav-menu button:hover {
  color: rgb(34, 34, 34);
}

/**************************/

/* header section */

.header-container {
  height: calc(100vh - 4rem);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  gap: 10rem;
  height: 70%;
}

.header h3 {
  margin: 0;
  font-size: 2rem;
}

.header h1 {
  margin: 0;
  font-size: 5rem;
}

.profile-image {
  border-radius: 50%;
  width: 20rem;
  height: 20rem;
}

.contact {
  padding-block: 2rem;
}

.resume-down-btn {
  background-color: rgba(74, 90, 102, 0.367);
  color: white;
  padding: 0.5rem 2rem;
  border: 0.1px solid rgba(255, 255, 255, 0.21);
  border-radius: 1rem;
  text-decoration: none;
}

.resume-down-btn:hover {
  background-color: rgba(78, 83, 86, 0.367);
}

.ci {
  margin-inline: 1rem;
  padding: 1rem;
  box-shadow: 0 0 2rem rgba(255, 255, 255, 0.052);
  border-radius: 1rem;
}

@keyframes zoom {
  50% {
    transform: scale(1.2);
  }
}

.ci:hover {
  animation: zoom 2s;
  animation-iteration-count: infinite;
}

.profession-title {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

/********************/

/* Project section */

.project-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.project-section-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.project-contents {
  flex: 1;
}

.project-section-title p {
  margin: 0;
  font-size: 6rem;
  font-weight: bolder;
  text-align: start;
}

.project-card {
  display: flex;
  width: 50rem;
  margin: 1rem;
  padding: 1rem;
  gap: 2rem;
  text-align: justify;
  border: 1px solid var(--main-color);
}

.project-card img {
  width: 15rem;
  height: 8rem;
  border: 0.4px solid black;
}

.project-card h2 {
  margin: 0;
}

.techstack,
.live-btn,
.github-btn {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 800;
  background-color: rgb(207, 70, 70);
  border: none;
  border-radius: 0.3rem;
  height: 2rem;
}

.project-card:hover {
  background-color: var(--cardbackground-color);
  border: 1px solid rgb(129, 129, 129);
  border-radius: 0.5rem;
}

.project-links {
  margin: 1rem;
  text-align: center;
}

.live-btn,
.github-btn {
  padding: 0.5rem;
  margin-right: 0.5rem;
  columns: white;
  text-decoration: none;
}

.live-btn:hover,
.github-btn:hover {
  background-color: rgb(36, 36, 36);
}

/***********************/

/* mobile responsive */

@media only screen and (max-width: 900px) {
  .body {
    width: 100vh;
  }

  hr {
    margin: 5rem;
    visibility: visible;
    width: 80%;
    border-color: rgba(255, 255, 255, 0.241);
  }

  .nav-bar {
    visibility: hidden;
  }

  .header-container {
    height: auto;
    gap: 4rem;
  }

  .header {
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 2rem;
  }

  .profile-image {
    width: 15rem;
    height: auto;
  }

  .ci {
    margin-bottom: 1rem;
  }

  .skill-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .project-section-title {
    padding: 2rem;
  }

  .project-section-title p {
    font-size: 2rem;
  }

  .project-section {
    text-align: start;
    flex-direction: column;
    height: auto;
  }

  .project-card {
    flex-direction: column;
    align-items: center;
    width: auto;
  }

  .project-card img {
    width: 90vw;
    height: auto;
  }
}
