/* main */

html {
  font-family: "roboto";
  background-color: #293241;
  color: rgb(171, 174, 192);
}

body {
  margin: 0;
  box-sizing: border-box;
}

/*************************/

/* nav bar */

.nav-bar {
  height: 4rem;
  display: flex;
  border-bottom: 1px solid rgba(255, 255, 255, 0.047);
}

.logo {
  margin-left: 10rem;
  flex: 2 2 0;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex: 1 1 0;
}

.nav-menu a {
  color: rgb(224, 224, 224);
  text-decoration: none;
}

.nav-menu button:hover {
  color: rgb(34, 34, 34);
}

/**************************/

/* header section */

.header-container {
  height: calc(100vh - 4rem);
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  align-items: center;
  gap: 10rem;
  height: 70%;
}

.header h3 {
  margin: 0;
  font-size: 2rem;
}

.header h1 {
  margin: 0;
  font-size: 5rem;
}

.profile-image {
  border-radius: 50%;
  width: 20rem;
  height: 20rem;
}

/********************/

/* Project section */

.project-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.project-section-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.project-contents {
  flex: 1;
}

.project-section-title p {
  margin: 0;
  font-size: 6rem;
  font-weight: bolder;
  text-align: start;
}

.project-card {
  display: flex;
  width: 50rem;
  margin: 1rem;
  padding: 1rem;
  gap: 2rem;
  text-align: justify;
  border: 1px solid rgb(255, 255, 255);
}

.project-card img {
  width: auto;
  height: 6rem;
  border: 0.4px solid black;
}

.project-card h2 {
  margin: 0;
}

.project-card:hover {
  border: 1px solid black;
  border-radius: 0.5rem;
}
